@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Index";
}

<h1>Assignments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayName("Deadline")</th>
            <th>@Html.DisplayName("Course Name")</th>
            <th>@Html.DisplayName("Description")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Assignments)
        {
            <tr>
                <td>@item.Deadline</td>
                <td>@item.CourseName</td>
                <td>@item.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
